@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    background-color: #f1e7d0;
}

#voltar {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 900;
    
}

#container textarea {
    background-color: #fff;
}

#container img {
    height: 120px;
}

#container h1 {
    margin-bottom: 15px;
    color: #174219;
    font-weight: 900;
}

#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #1F2A44;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #7CB324;
    color: #FFFFFF;
    border: none;
    margin-bottom: 20px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #4E5A65;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}