@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.dash {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 96%;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.olac {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #efeded;
    border-bottom: 1px solid rgba(0, 0, 0, 0.047);

}

.olac h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
    padding: 0px 15px;
}

.olac span {
    font-size: 2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
}

.olac img {
    height: 60px;
}

.btsair {
    margin-right: 50px;
    background-color: #174219;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: 0.3s;
}

.btsair:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    padding: 12px 22px;
    font-size: 0.9rem;
    cursor: pointer;
}

.titulo{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.titulo img {
    height: 100px;
}

