@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body,
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.dash {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteudo {
    display: flex;
    background-color: #fff;
    height: 96%;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.dashdireita {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.olac {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #efeded;
    border-bottom: 1px solid rgba(0, 0, 0, 0.047);

}

.olac h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
    padding: 0px 15px;
}

.olac span {
    font-size: 2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
}

.olac img {
    height: 60px;
}

.btsair {
    margin-right: 50px;
    background-color: #174219;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: 0.3s;
}

.btsair:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    padding: 12px 22px;
    font-size: 0.9rem;
    cursor: pointer;
}

.gerais {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.kpis {
    background-color: #174219;
    height: 25%;
}

.kpis h1 {
    margin-bottom: -25px;
}

.hectares {
    height: 75%;
    background-color: #7CB324;
    padding: 30px;
}

.hectares h1 {
    margin-bottom: 5px;
    margin-top: -15px;
    font-size: 1.5rem;
    font-weight: 900;
}

.cardskp {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.sensores {
    border-radius: 15px;
    border: 1px solid black;
    height: 95%;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    font-size: 1.8rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-style: italic;
}

.online {
    border: 1px solid black;
    height: 90%;
    width: 25%;
    border-radius: 15px;
    background-color: greenyellow;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.online span {
    font-size: 4rem;
    font-weight: 900;
    margin-top: -5px;
}


.offline {
    border: 1px solid black;
    height: 90%;
    width: 25%;
    border-radius: 15px;
    background-color: rgb(255, 47, 47);
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.offline span {
    font-size: 4rem;
    font-weight: 900;
    margin-top: -5px;
}

.cardhectares {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.hect {
    height: 93%;
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #efeded;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: 1.3rem;
    font-weight: 600;
}

.hect h1 {
    margin-top: 20px;
}

.hect img {
    height: 200px;
}


.hect button {
    background-color: #174219;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 15px;
    margin-top: 5px;
    transition: 0.3s;
}

.hect button:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    transform: scale(1.1);
    cursor: pointer;
}

.alerts {
    height: 93%;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #efeded;
    padding: 30px 0 0 0;    
}

.alerts h1 {
    margin-bottom: 40px;
    text-indent: 30px;
}

.ocorrencias {
    display: flex;
    flex-direction: column;
    gap: 8.2px;
}

.linhaAlert {
    border-top: 1px solid black;
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}