@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.dash {
    background-color: #e8e2e2;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 96%;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.olac {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #7CB324;
    border-bottom: 1px solid rgba(0, 0, 0, 0.047);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.olac h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
    padding: 0px 15px;
}

.olac span {
    font-size: 2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
}

.olac img {
    height: 60px;
}

.user-area {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#b_usuario {
    font-size: 1.2rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
    margin-right: 20px;
}

.btsair {
    margin-right: 0px;
    background-color: #174219;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: 0.3s;
}

.btsair:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    padding: 12px 22px;
    font-size: 0.9rem;
    cursor: pointer;
}

.titulo{
    width: 100%;
    height: 10%;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.titulo img {
    height: 100px;
}

.graficos {
    width: 100%;
    height: 100%;
}

.secaocima {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f1e7d0;
    width: 100%;
    height: 65%;
}

.grafico {
    height: 90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-bottom: 40px;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}

.grafico h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 800;
    font-size: 1.4rem;
}

.kpi1 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}

.kpis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 35%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #f1e7d0;
}

.grafico canvas{
    width: 100%;
    height: 10%;
}

.kpi2 {
    height: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    display: flex ;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}

.u{
    font-size: 2rem;
}

.kpi1 h4{
    font-size: 1.5rem;
}

#pMax, #umiAtual, #pMin, #qtdAlertas {
    font-size: 2.3rem;
    font-weight: 900;   
    color: #174219;
}