/* CONFIGURAÇÕES PADRÃO PARA TODAS AS PÁGINAS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.navbar {
    background-color: #7CB324;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-weight: 900;
    font-size: 1rem;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    padding: 20px;

}


p.page {
    text-decoration: underline;
    text-decoration-color: #4E5A65;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    
}

.navbar a {
    text-decoration: none;
    color: #174219 ;
}

.navbar p:hover {
    text-decoration: underline;
    text-decoration-color: #4E5A65;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.logoheader {
    height: 60px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu p {
    margin-left: 35px;
    margin-right: 35px;
}

.cadastro {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.cadastro p {
    margin-left: 20px;
    margin-right: 20px;
}

.cadastrar {
    color: #7CB324;
    background-color: #174219;
    padding: 15px;
    border-radius: 15px;
}

.c a :hover{
    color: #FFFFFF;
    background-color: #4E5A65;
    padding: 15px;
    border-radius: 15px;
}

.c button:hover{
    background-color: #4E5A65;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: #4E5A65;
    font-weight: 900;
}

.rodape {
    background-color: #174219;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.rodape_bordao {
    color: #7CB324;
    text-align: center;
    font-size: 0.8rem;
}

.rodape_bordao img {
    width: 180px;
}

.rodape_contato {
    display: flex;
    flex-direction: column;
    color: #f1e7d0;
    line-height: 2rem;
}

.rodape_contato div {
    display: flex;
    align-items: center;
}

.rodape_contato a {
    color: #f1e7d0;
    text-decoration: none;
}

.rodape_contato a :hover {
    color: #4E5A65;
    text-decoration: underline;
}

.rodape_contato p {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.rodape_contato img {
    width: 25px;
    margin-right: 10px;
}

.rodape_redes {
    margin-bottom: 34px;
}

.rodape_redes div {
    display: flex;
    justify-content: space-evenly;
}

.rodape_redes p {
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}

.rodape_redes img {
    width: 30px;
}

.rodape_empresas {
    margin-top: 24px;
}

.rodape_empresas div>p {
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}

.rodape_empresas a {
    color: #f1e7d0;
    text-decoration: none;
}

.rodape_empresas a:hover {
    color: #4E5A65;
    text-decoration: underline;
}

.empresas {
    line-height: 30px;
}
.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1e7d0;
    padding: 30px;
}

.entradas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 1000px;
    border-radius: 15px;
    padding: 40px 20px;
    gap: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.imagem {
    width: 400px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    filter: drop-shadow(10px #FFFFFF);
    background-color: #7CB324;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: blur(0.2px);
    backdrop-filter: blur(10px);
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;

    font-size: 1.2rem;
}

.formulario h2 {
    color: #174219;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

.formulario p {
    font-size: 1.2rem;
    align-self:center;
    margin-bottom: 20px;
    font-weight: 500;
}

.campo {
    display: flex;
    align-items: center;
    position: relative;
}

.campo .icone {
    width: 20px;
    position: absolute;
    left: 10px;
}

.entradas input {
    text-align:center;
    border: 1px solid #174219;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    transition-duration: 0.3s;
}

.entradas input:focus {
    outline: none;
    border-color:#7CB324; 
    box-shadow: 0 0 5px #7CB324; 
}

.email, .senha, .mensagem {
    font-size: 0.8rem;
    color: red;
    margin-top: 5px;
}

.entradas button {
    background-color:#7CB324;
    color: #174219;
    border-radius: 5px;
    border: 2px solid #7CB324;
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 0.8rem;
    transition: 0.3s;
    align-self: center;
}

.entradas button:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    padding: 12px 22px;
    font-size: 0.9rem;
}

.esqueci {
    margin: 15px 0px 0px 380px;
    font-size: 0.7rem;
    width: fit-content;
}

.esqueci:hover {
    color: #4E5A65;
}