@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.dash {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    background-color: #fff;
    height: 98%;
    width: 99%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sidebar {
    height: 100%;
    width: 15%;
    display: flex;
    background-color: #174219;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid rgba(0, 0, 0, 0.145);
}

.logoside {
    height: 110px;
    margin-bottom: 50px;
    align-content: center;
    margin-left: 28px;
}

.dashdireita {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: red;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.olac {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #efeded;
    border-bottom: 1px solid rgba(0, 0, 0, 0.047);
}

.olac h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #174219;
    font-style: italic;
    padding: 0px 15px;
}

.btsair {
    margin-right: 50px;
    background-color:#174219;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: 0.3s;
}

.btsair:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    padding: 12px 22px;
    font-size: 0.9rem;
    cursor: pointer;
}
.gerais {
    display: flex;
    height: 100%;
}

.geral1 {
    height: 100%;
    width: 78%;
    background-color: #fff;
}

.geral2 {
    height: 100%;
    width: 22%;
    background-color: #efeded;
    border-left: 1px solid rgba(0, 0, 0, 0.047); 
    padding: 15px;
}

.card {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 7px;
    border-radius: 15px;
}

.gc1 {
    height: 60%;
}

.gc2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    height: 40%;
    background-color: #ffffff;
    color: #174219;
    font-size: 1.2rem;
    font-weight: 800;
}

.gc2 img {
    height: 130px;
    justify-content: center;
    margin-top: -20px;
}

.gc2 p {
    margin-top: 5px;
    font-weight: 900;
    font-size: 2.1rem;
    color: #73cb42;
}

.kpis {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27%;
    background-color: #efeded;
    border-bottom: 1px solid rgba(0, 0, 0, 0.047);
    padding: 15px;
    font-size: 18px;
    line-height: 25px;
}

.kpis h3 {
    color: #174219;
    font-weight: 800;
    margin-bottom: 5px;
    margin-left: 2px;
    font-size: 1.6rem;
}

.graficos {
    display: flex;
    height: 73%;
    background-color: #fff;
}

.cardskpi {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 5px;
}

.cardkp {
    height: 100%;
    border: none;
    width: 32%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    background-color: #ffffff;
    text-align: left;
    font-size: 1.6rem;
    line-height: 30px;
}

.cardnv {
    color: #174219;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
}

.ckp3 {
    text-align: center;
}

.ckp1 {
    background: url("../src/like.png");
    background-size: 33px;
    background-repeat: no-repeat;
    background-position: 275px;
    background-position-y: 70px;
    background-color: #ffffff;
}

.ckp2 {
    background: url("../src/warning.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 270px;
    background-position-y: 68px;
    background-color: #ffffff;
}



.cardkp img {
    width: 28px;
    align-self: center;

}



.graf1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 65%;
    height: 100%;
    background-color: #efeded;
}

.graf2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 35%;
    height: 100%;
    background-color: #efeded;
    border-left: 1px solid rgba(0, 0, 0, 0.047);;
}

.cardgraf {
    height: 98%;
    width: 98%;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    background-color: #ffffff;
}

.cardgraf h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;

}

.sidebar p, span {
    font-size: 25px;
    color: #ffffff;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;   
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border-left: 0px solid #73cb42;
    transition-duration: 0.2s;
    font-weight: 800;
}

.inicio img {
    height: 25px;
}

.inicio:hover {
    cursor: pointer;
    background-color: #1d5720e0;
    border-left: 4px solid #73cb42;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16%;
    text-align: center;
    background-color: #174219;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 900;
    font-size: 1.4rem;
}

.cabecalho img {
    height: 35px;
    margin-left: 15px;
    filter:hue-rotate(90deg);
}
.ocorrencias {
    font-size: 0.9rem;
    height: 84%;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.ocorr {
    border-top: 1px solid rgba(0, 0, 0, 0.249);
}

