/* CONFIGURAÇÕES PADRÃO PARA TODAS AS PÁGINAS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: #f1e7d0;
}


.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
    background-color: #f1e7d0;
    padding: 40px;
    border-radius: 12px;
}

.conteudo h1 {
    margin-bottom: 30px;
    font-weight: 900;
}

.titulos, .resultados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 40px;
    margin: 0 auto;
    border-radius: 8px;
}

.titulos {
    background-color: #174219;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}

.resultados {
    background-color: white;
    color: #4E5A65;
    font-size: 0.95rem;
    font-weight: 500;
}

.titulos p, .resultados p {
    margin: 0;
    width: 120px;
    text-align: center;
}

.resultados div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 120px;
}

.resultados div img {
    width: 25px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.resultados div img:hover{
    width: 30px;

}

.conteudo button{
    background-color: #174219;
    color: white;
    border-radius: 5px;
    border-color: #174219;
    font-weight: 900;
    padding: 5px;
    margin-top: 60px;
    font-size: 1.2rem;
    transition-duration: 0.3s;
    width: 80px;
}

.conteudo button:hover {
    padding: 10px;
    width: 100px;
    background-color: #4E5A65;
    border-color: #4E5A65;
    cursor: pointer;
}

