/* CONFIGURAÇÕES PADRÃO PARA TODAS AS PÁGINAS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.navbar {
    background-color: #7CB324;

    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-weight: 900;
    font-size: 1.4rem;

    padding: 20px;

}

p.page {
    text-decoration: underline;
    text-decoration-color: #4E5A65;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;

}

.navbar a {
    text-decoration: none;
    color: #174219;
}

.menu a :hover{
    color: #FFFFFF;
    background-color: #4E5A65;
    padding: 15px;
    border-radius: 15px;
}

.logoheader {
    height: 80px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu p {
    margin-left: 35px;
    margin-right: 35px;
}

.cadastro {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.cadastro p {
    margin-left: 20px;
    margin-right: 20px;
}

.sair {
    color: #7CB324;
    background-color: #174219;
    padding: 15px;
    border-radius: 15px;
    width: 100px;
    text-align: center;
}

.rodape {
    background-color: #174219;
    display: flex;
    padding: 43px;
    align-items: center;
    justify-content: space-between;

}

.rodape_bordao {
    color: #7CB324;
    text-align: center;
    font-size: 0.8rem;
}

.rodape_bordao img {
    width: 180px;
}

.rodape_contato {
    display: flex;
    flex-direction: column;
    color: #f1e7d0;
    line-height: 2rem;
}

.rodape_contato div {
    display: flex;
    align-items: center;
}

.rodape_contato a {
    color: #f1e7d0;
    text-decoration: none;
}

.rodape_contato a :hover {
    color: #4E5A65;
    text-decoration: underline;
}

.rodape_contato p {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.rodape_contato img {
    width: 25px;
    margin-right: 10px;
}

.rodape_redes {
    margin-bottom: 34px;
}

.rodape_redes div {
    display: flex;
    justify-content: space-evenly;
}

.rodape_redes p {
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}

.rodape_redes img {
    width: 30px;
}

.rodape_empresas {
    margin-top: 24px;
}

.rodape_empresas div>p {
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}

.rodape_empresas a {
    color: #f1e7d0;
    text-decoration: none;
}

.rodape_empresas a:hover {
    color: #4E5A65;
    text-decoration: underline;
}

.empresas {
    line-height: 30px;
}

.submenu {
    background-color: #174219;
    color: #f1e7d0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    padding-top: 42px;

    text-align: center;
    
}

.submenu img {
    width: 60px;
}

.submenu img:hover {
    cursor: pointer;
}

#menulateral {
    background-color: #7CB342;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    box-shadow: 3px black;
}

#menulateral h1, h2, h3, h4 {
    margin-left: 15px;
    transition-duration: 0.3s;
}

#menulateral a:hover {
    color: #174219;
    cursor: pointer;
}

#menulateral a {
    transition-duration: 0.3s;
}

#menulateral h1:hover {
    color: #174219;
    cursor: pointer;
}

.conteudo {
    color: #f1e7d0;
    height: 1000px;
}

#menulateral a {
    text-decoration: none;
    color: #f1e7d0;
}

#historico {
    margin-top: 20px;
}


.dash {
    height: 1000px;
    width: 1321px;
    background-color: #f1e7d0;
    position: absolute;
    left: 200px;
    padding: 20px;

}

.dash h1 {
    font-size: 2.7rem;
    color: #174219;
    margin-bottom: 20px;
    font-weight: 900;
}

.dash h2 {
    color: #174219;
    margin-bottom: 30px;
}

.kpis {
    display: flex;
    justify-content: space-around;
}

.cardkpi {
    background-color: #ffffff;
    padding: 12px;
    width: 280px;
    height: 140px;
    border-radius: 15px;
    border: 1px solid black;
    transition-duration: 0.3s;
}

.cardkpi:hover {
    cursor: default;
}

#linha1 {
    display: flex;
    align-items: center;
}

.c1 {
    color: #174219;
    font-size: 1.5rem;
    font-weight: 500;
}

.c1 b {
    font-weight: 900;
    font-size: 2rem;
}

.c2 {
    color: #174219;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}


.num77 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-top: 10px;
}

.c3 {
    color: #174219;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
}

.c3 b {
    font-weight: 900;
    color: red;
}


.c4 {
    color: #174219;
    font-size: 1.2rem;
    font-weight: 500;
}

.c4 b {
    font-weight: 900;
    font-size: 1.3rem;
}

.c4 p {
    margin-bottom: 5px;
}

.fundo_branco {
    background-color: #ffffff;       
    border-radius: 15px;         
    border: 1px solid rgba(0, 0, 0, 0.468);
    padding: 20px;                  
    max-width: 800px;                  
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0px auto;
}

.princip {
    margin: 50px auto;
}



.fundo_branco h2{
    margin-bottom: -90px;
    font-weight: 900;
}

.titlehist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.titlehist h1 {
    margin-right: 100px;
}

.titlehist button {
    margin-right: 35px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #7CB342;
    font-weight: bolder;
}

.titlehist button:hover {
    cursor: pointer;
}


.chart-container {
    display: flex;
    flex-direction: row;

}

.chart-container .cardkpi {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 24px;
    border: 1px solid rgba(0, 0, 0, 0.468);
    font-size: 1.2rem;
    color: black;
    font-weight: 500;

    height: 80px;
}



.cardkpig {
    background-color: #9bf5cacc;
}

.cardkpir {
    background-color: #FF6384CC;
}


.chart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 620px;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 15px;
    
    border: 1px solid rgba(0, 0, 0, 0.468);
}

.chart-box h2 {
    color: #174219;
    font-weight: 900;
}


#chartScatter {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 130px;
}

#chartLine2 {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 130px;
}