/* CONFIGURAÇÕES PADRÃO PARA TODAS AS PÁGINAS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.navbar {
    background-color: #7CB324;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-weight: 900;
    font-size: 1.4rem;

    padding: 20px;
}

p.page {
    text-decoration: underline;
    text-decoration-color: #4E5A65;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    
}

.navbar a {
    text-decoration: none;
    color: #174219 ;
}



.logoheader {
    height: 135px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu p {
    margin-left: 35px;
    margin-right: 35px;
}

.cadastro {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.cadastro p {
    margin-left: 20px;
    margin-right: 20px;
}

.cadastrar {
    color: #7CB324;
    background-color: #174219;
    padding: 15px;
    border-radius: 15px;
}

.rodape{
    background-color: #174219;
    display: flex;
    padding: 43px;
    align-items: center;
    justify-content: space-between;

}

.rodape_bordao{
    color: #7CB324;
    text-align: center;
    font-size: 0.8rem;
}
.rodape_bordao img {
    width: 180px;
}

.rodape_contato{
    display: flex;
    flex-direction: column;
    color: #f1e7d0;
    line-height: 2rem;
}

.rodape_contato div {
    display: flex;
    align-items: center;
}

.rodape_contato a  {
    color: #f1e7d0;
    text-decoration: none;
}

.rodape_contato a :hover {
    color: #4E5A65;
    text-decoration: underline;
}

.rodape_contato p{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.rodape_contato img {
    width: 25px;
    margin-right: 10px;
}

.rodape_redes{
    margin-bottom: 34px;
}

.rodape_redes div{
    display: flex;
    justify-content: space-evenly;
}

.rodape_redes p{
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}
.rodape_redes img{
    width: 30px;
}

.rodape_empresas{
    margin-top: 24px;
}

.rodape_empresas div > p {
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}
.rodape_empresas a{
    color: #f1e7d0;
    text-decoration: none;
}
.rodape_empresas a:hover{
    color: #4E5A65;
    text-decoration: underline;
}

.empresas{
    line-height: 30px;
}

.conteudo{
    background-color: #F1E7D0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image1{
    
    height: 636px;
}

.text_imagem{
    background-color: #8d6e63;
    color: #F1E7D0;
    border-style: hidden;
    text-align: center;
    width: 100%;
    margin: -6px;
    height: 150px;
    padding: 20px;
}

.p_text_imagem{
    font-size: 20px;
}

.problema{
    display: flex;
    border-style:solid;
    border-color: #7CB324;
    flex-direction: column;
    color: #4E5A65;
    text-align: center;
    border-width: 15px;
    border-radius: 15px;
    margin: 70px;
    padding: 35px;
    height: auto;
    line-height: 2.2;
}

.text_lupa{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.titulo_problema{
    color: #174219;
    font-size: 50px;
    font-weight: 900;
}

.lupa{
    height: 50px;
    width: 50px;
}

.texto_problema{
    font-size: 25px
}

.subtitulo{
    text-align: end;
    font-weight: 900;
    font-size: 30px;
    color: #174219;
}

.p1_subtitulo{
    text-align: end;
    font-weight: 500;
    font-size: 25px;
}

.p2_subtitulo{
    text-align: end;
    font-weight: 500;
    font-size: 25px;
}

.p3_subtitulo{
    text-align: end;
    font-weight: 500;
    font-size: 25px;
}

.container_resultados{
    background-color: #8d6e63;
    display: flex;
    border-style: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 250px;
    height: 30px;
    width: 90%;
    margin: 50px;
    border-width: 15px;
    border-radius: 15px;
}

.resultados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.produtividade{
    font-size: 20px;
    text-align: left;
    text-indent: 15px;
}

.produtores{
    font-size: 20px;
    text-align: left;
    text-indent: 15px;
}

.monitoramento{
    font-size: 20px;
    text-align: left;
    text-indent: 15px;
}

.resultados_box{
    width: 60px;
    float: left;
}

.resultados_subtitulos{
    font-size: 20px;
    text-align: left;
}


.resultados_text{

}

.resultado_imagem{
    display: flex;
    width: 300px;
    height: 300px;
    float: right;
}
