/* CONFIGURAÇÕES PADRÃO PARA TODAS AS PÁGINAS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
}   

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1e7d0 ;
    
}

.entradas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 1000px;
    border-radius: 15px;
    padding: 40px 20px;
    gap: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: fit-content;
}

.imagem {
    width: 350px;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(10px #FFFFFF);
    background-color: #4E5A65;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: blur(0.2px);
    backdrop-filter: blur(10px);
    padding: 40px;
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;

    font-size: 1.2rem;
}

.formulario h2 {
    color: #174219;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

.formulario p {
    font-size: 1.2rem;
    align-self:center;
    margin-bottom: 20px;
    font-weight: 500;
}

.campo {
    display: flex;
    align-items: center;
    position: relative;
}

.campo .icone {
    width: 20px;
    height: 20px;
    position: absolute  ;
    left: 10px;
}

.entradas input {
    text-align:center;
    border: 1px solid #174219;
    border-radius: 10px;
    width: 500px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid #ccc;
    transition-duration: 0.3s;
}

.entradas input:focus {
    outline: none;
    border-color:#7CB324; 
    box-shadow: 0 0 5px #7CB324; 
}

.email, .senha, .mensagem {
    font-size: 0.8rem;
    color: red;
    margin-top: 5px;
}

.entradas button {
    background-color:#4E5A65;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #4E5A65;
    font-weight: 900;
    font-size: 0.8rem;
    transition: 0.3s;
    align-self: center;
    height: fit-content;
    width: fit-content;
    padding: 15px;
}

.entradas button:hover {
    background-color: #7CB324;
    color: #174219;
    border-color: #7CB324;
    padding: 20px;
    font-size: 0.9rem;
}

.esqueci {
    margin: 15px 0px 0px 380px;
    font-size: 0.7rem;
    width: fit-content;
}

.esqueci:hover {
    color: #4E5A65;
}

.fundo {
    
    background-color: #f1e7d0;
    height: 100%;
    margin-top: 190px;
}