/* CONFIGURAÇÕES PADRÃO PARA TODAS AS PÁGINAS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.navbar {
    background-color: #7CB324;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-weight: 900;
    font-size: 1rem;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    padding: 20px;
}

p.page {
    text-decoration: underline;
    text-decoration-color: #4E5A65;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    
}

.navbar a {
    text-decoration: none;
    color: #174219 ;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #4E5A65;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.logoheader {
    height: 60px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu p {
    margin-left: 35px;
    margin-right: 35px;
}

.cadastro {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.cadastro p {
    margin-left: 20px;
    margin-right: 20px;
}

.c a :hover{
    color: #FFFFFF;
    background-color: #4E5A65;
    padding: 15px;
    border-radius: 15px;
}

.cadastrar {
    color: #7CB324;
    background-color: #174219;
    padding: 15px;
    border-radius: 15px;
}

.rodape {
    background-color: #174219;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.rodape_bordao{
    color: #7CB324;
    text-align: center;
    font-size: 0.8rem;
}
.rodape_bordao img {
    width: 180px;
}

.rodape_contato{
    display: flex;
    flex-direction: column;
    color: #f1e7d0;
    line-height: 2rem;
}

.rodape_contato div {
    display: flex;
    align-items: center;
}

.rodape_contato a  {
    color: #f1e7d0;
    text-decoration: none;
}

.rodape_contato a :hover {
    color: #4E5A65;
    text-decoration: underline;
}

.rodape_contato p{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.rodape_contato img {
    width: 25px;
    margin-right: 10px;
}

.rodape_redes{
    margin-bottom: 34px;
}

.rodape_redes div{
    display: flex;
    justify-content: space-evenly;
}

.rodape_redes p{
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}
.rodape_redes img{
    width: 30px;
}

.rodape_empresas{
    margin-top: 24px;
}

.rodape_empresas div > p {
    font-size: 2rem;
    font-weight: 900;
    color: #f1e7d0;
    margin-bottom: 30px;
}
.rodape_empresas a{
    color: #f1e7d0;
    text-decoration: none;
}
.rodape_empresas a:hover{
    color: #4E5A65;
    text-decoration: underline;
}

.empresas{
    line-height: 30px;
}

.conteudo{
    background-color: #f1e7d0;
    padding: 30px;
    height: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo h1 {
    font-weight: 900;
    font-size: 3rem;
}

.titulo {
    position: absolute;
    top: 160px;
    color: #174219;
}

.caixa{
    background-color: white;
    text-align: center;
    border-style:hidden;
    border-radius: 14px;
    line-height: 30px;
    margin: 300px;
    padding: 36px;  
}

.caixa p {
    text-align: justify;
    font-size: 19px;
}

.batata {
    width: 900px;
    margin: 19px;

}